*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(8, 1rf);
  width: 20em;
  height: 30em;
}

.num {
  grid-column: span 2;
  grid-row: span 2;
}

.operator {
  grid-column: span 2;
  grid-row: span 2;
}

.display {
  grid-column: span 8;
  background-color: black;
  grid-row: span 4;
}

.clear {
  grid-column: span 4;
  grid-row: 13 / 15;
}

.equal {
  grid-row: span 4;
  grid-column: span 2;
}

.plus {
}

.minus {
  grid-row: 7 / 9;
  grid-column: 7 / 9;
}

.multiply {
  grid-row: 9 / 12;
  grid-column: 7 / 9;
}

.divide {
  grid-row: 12 / 15;
  grid-column: 7 / 9;
}
